<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">List of  Actors and Goals</h1>
		<h3>Data view user.</h3>
		<ul>
  			<li>Find  a hunit entry.</li>
  			<li>View a hunit entry.</li>
  			<li>View active hierarchy.</li>
  			<li>View hierarchy active on date.</li>
  		</ul>
		<h3>Data entry user.</h3>
		<ul>
  			<li>Submit hunit entry.</li>
    		<li>Add new child.</li>
    		<li>Move to different parent.</li>
    		<li>Decomision.</li>
  			<li>Resubmit hunit entry.</li>
  		</ul>
		<h3>Approver.</h3>
		<ul>
			<li>Certify hunit entry.</li>
  			<li>Reject hunit entry.</li>
  			<li>Change effective end date on submitted entry.</li>
  		</ul>
		<h3>Batch job.</h3>
		<ul>
			<li>Activate hunit entry.</li>
			<li>Deactivate hunit entry.</li>
			<li>Expand hunit into derived.</li>
		</ul>
		<h3>External applications (accessing exposed web services).</h3>
		<ul>
   			<li>Return active ancestors for hunit. Given htype, hunit and date.</li>
   			<li>Return complete active hierarchy. Given htype and date.</li>
   		</ul>
		<h3>Data admin user</h3>
		<ul>
  			<li>Create new hierarchy type.</li>
  		</ul>
   	</div>
</div>