<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Open issues</h1>
    <h3>Designate Product Owner</h3>
    <ul>
        <li></li>
        <li></li>
    </ul>
    <h3>Authentication / Authorization</h3>
    <ul>
        <li>Meeting tomorrow</li>
        <li></li>
    </ul>
    <h3>Data Model</h3>
    <ul>
        <li>Create </li>
        <li></li>
    </ul>
    <h3></h3>
    <ul>
        <li></li>
        <li></li>
    </ul>
    <h3></h3>
    <ul>
        <li></li>
        <li></li>
    </ul>
  </div>
</div>