<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Roles</h1>
        <h3>List roles for {{user.firstName}} {{user.lastName}}</h3>
        <div id="successMessage" class="alert alert-success hidden"></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Roles             
        </div>
        <div class="panel-body">
          <div class="row">
            <button type="button" class="btn btn-primary pull-right" style="margin-right: 15px; margin-bottom: 15px" id="new-role-button">Add New Role</button>
          </div>
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-user-roles">
            <thead>
              <tr>
                <th>Realm</th>
                <th>Role Id</th>
                <th>Role Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#userRoles}}
              <tr>
                <td>{{realm}}</td>
                <td>{{roleId}}</td>
                <td>{{roleName}}</td>
                <td><button type="button" class="btn btn-primary delete-role" id="{{userRoleRealmId}}">Delete</button></td>
              </tr>
              {{/userRoles}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<script>


$(".delete-role").click(function()  {

  var tobeDeleted = this.id;

  bootbox.confirm({
      message: "Please confirm role deletion",
      buttons: {
          confirm: {
              label: 'Yes',
              className: 'btn-success'
          },
          cancel: {
              label: 'No',
              className: 'btn-danger'
          }
      },
      callback: function (result) {
          if (result) {
            postDeleteRole(tobeDeleted);
          }
      }
  });  

});

function postDeleteRole(tobeDeleted) {

  $.post(
    "delete-user-role.html", 
    { userRoleRealmId:  tobeDeleted } )
  .done(function(data) { 
    reloadSuccess(data);
  } );  

}

$("#new-role-button").click(function () {

  bootbox.prompt({
    title: "Select new role",
    inputType: 'select',
    inputOptions: [
        {
            text: 'Choose one...',
            value: '',
        },
        {{#allroles}}
        {
            text: '{{roleName}}',
            value: '{{roleId}}',
        },
        {{/allroles}}
    ],
    callback: function (result) {
        console.log("selected:"+result);
        if (result !== '') {
          postNewRole(result);
        }
    }
  });

});

function postNewRole(roleId) {

  $.post(
    "new-user-role.html", {
        userId: {{user.userId}},
        realmField:  "GLOBAL",
        roleId: roleId,       
   } )
  .done(function(data) { 
    reloadSuccess(data);
  } );  

}

function reloadSuccess(message) {
    window.sessionStorage.setItem("successMessage", message);
    location.reload();   
}

function success(message) {

  $("#successMessage").text(message);
  $("#successMessage").removeClass('hidden');

}

$(document).ready(function() {
  
    $('#dataTables-user-roles').DataTable({
        responsive: true,
        "iDisplayLength": 50,
        "paging": false,
    });

    var successMessage = sessionStorage.getItem("successMessage");

    if (successMessage !== null) {
      window.sessionStorage.removeItem("successMessage");
      success(successMessage);      
    }
});

</script>
